{% extends 'core/base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block title %}Productos{% endblock %}

{% block content %}

<div class="container pb-5 mb-2 mb-md-4 productos-cont">
    <div class="row g-6">
        <aside class="col-lg-4">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark columna-productos">
                <h1 class="titulo-barra"> Filtrar por </h1>
                <div class="card laterall">
                    <article class="filter-group">
                        <header class="card-header">
                            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <h6 class="title">Categories</h6>
                              </a>
                                
                            </a>
                        </header>
                        <div class="collapse show" id="collapseExample">
                            <div class="card-body">
                                <ul class="list-menu">

                                    <li><a href="{% url 'productos'%}">Todos</a></li>
                                    {% for category in links %}
                                    <li><a href="{{category.get_url}}">{{category.category_name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div> <!-- card-body.// -->
                        </div>
                    </article>
                </div>
            </div>
        </aside>

        <div class="col-lg-8">
            <h2>{{ product_count }} Productos Encontrados</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% if productos %}
                {% for producto in productos %}
                <div class="col">
                    <div class="card shadow ">
                        <a href="{{ producto.get_url }}"><img class="card-img-top img-fluid"
                                src="{{producto.image.url}}" alt=""></a>
                        <div class="card-body">
                            <a href="{{ producto.get_url }}">
                                <h2 class="card-title"> {{producto.title}}</h2>
                            </a>
                            <p class="card-text">{{producto.content}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'add_cart' producto.id %}" class="btn btn-block btn-success">agregar
                                        al carrito</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                    <div>
                     <h2>Intente despues.</h2>
                    </div>
                {% endif %}
            </div>

            <nav class="mt-4" aria-label="Page navigation sample">
                {% if productos.has_other_pages %}
                <ul class="pagination">
                    {% if productos.has_previous %}
                    <li class="page-item "><a class="page-link"
                            href="?page={{productos.previous_page_number}}">Anterior</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
                    {% endif %}
                    {% for i in productos.paginator.page_range %}
                    {% if productos.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                    {% else %}
                    <li class="page-item "><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if productos.has_next %}
                    <li class="page-item "><a class="page-link"
                            href="?page={{productos.next_page_number}}">Siguiente</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Siguiente</a></li>
                    {% endif %}
                </ul>
                {% endif %}
            </nav>


        </div>
    </div>
</div>


{% endblock %}